* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family:Alegreya Sans Sc;
}

/*Cabeçalho*/
header {
	background-image: linear-gradient(225deg, #92b6e5 0, #428bd4 50%, #0063c2 75%, #0063c2 100%);
	color: #ffffff;
	padding: 15px;
	text-align: center;
	border-bottom: 10px solid #04315c;
}

/*Grid de produtos*/
.container {
	background-color: #eeeeee;
	min-height: 75vh;
	padding: 50px;
}

footer {
	background-image: linear-gradient(225deg, #0063c2 0, #0063c2 50%, #428bd4 75%, #92b6e5 100%);
	color: #ffffff;
	border-top: 3px solid #04315c;
	padding: 80px;
}

.card {
	width: 31%;
	display: inline-block;
}

